body {
  background-image: url('/code.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
